<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rule 1" stopProcessing="true">
                    <match url="^image/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="application/image/{R:1}" />
                </rule>
                <rule name="Rule 2" stopProcessing="true">
                    <match url="^js/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="application/js/{R:1}" />
                </rule>
                <rule name="Rule 3" stopProcessing="true">
                    <match url="^css/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="application/css/{R:1}" />
                </rule>
                <rule name="Rule 4" stopProcessing="true">
                    <match url="^upload/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="application/upload/{R:1}" />
                </rule>
                <rule name="Rule 5" stopProcessing="true">
                    <match url="^error/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="application/error/{R:1}" />
                </rule>
                <rule name="Rule 6" stopProcessing="true">
                    <match url="^tool/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="application/tool/{R:1}" />
                </rule>
                <rule name="Rule 7" stopProcessing="true">
                    <match url="^vendor/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="application/vendor/{R:1}" />
                </rule>
                <rule name="Rule 8" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^system.*" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?/{R:1}" appendQueryString="false" />
                </rule>
                <rule name="Rule 9" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^application.*" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?/{R:1}" appendQueryString="false" />
                </rule>
                <rule name="Rule 10" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="error/401.html/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <caching>
            <profiles>
                <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
